.task-list-container {
    max-width: 600px;
    margin: auto;
  }
  
  .task-list-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .edit-task {
    flex: 1;
  }
  
  .edit-task-input {
    width: 70%;
    margin-right: 10px;
  }
  
  .update-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .task-text {
    flex: 1;
  }
  
  .task-actions {
    margin-left: 10px;
  }
  
  .edit-button,
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .delete-button {
    background-color: #d9534f;
  }
  