.task-list-container {
    max-width: 70vw;
    margin: auto;
    align-items: center;
    box-shadow: 0 0 15px white;
    border-radius: 30px;
  }
  
  .task-list-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: cursive;
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .task-list {
    list-style: none;
    padding: 0;
    background-color: #1a1b1cf5;
    color: ghostwhite;
  }
  .task-item {
    padding: 21px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 46px;
    font-size: x-large;
    font-family: cursive;
  }
  
  .edit-task {
    flex: 1;
  }
  
  .edit-task-input {
    width: 80%;
    margin-right: 10px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    margin-bottom: 10px;
    font-size: large;
    font-family: cursive;
  }
  
  .update-button,
  .edit-button,
  .delete-button {
    background-color: #0d4143;
    color: white;
    border: none;
    padding: 10px 24px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
    border-radius: 7px;
    font-size: medium;
    font-family: cursive;
  }
  
  .delete-button {
    background-color: #d74551ed;
  }
  .update-button {
    margin-left: 10px;
    width: 80%;
    border-radius: 16px;
  }
  
  .update-button:hover,
  .edit-button:hover,
  .delete-button:hover {
    background-color: #2e302e;
  }
  .task-text {
    flex: 1;
  }
  
  .task-actions {
    margin-left: 10px;
  }
  .export-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(34 32 32);
    color: white;
    border: none;
    border-radius: 14px;
    font-family: cursive;
    font-size: x-large;
    cursor: pointer;
}
.export-button:hover {
    background-color:rgb(65 62 62);
}

@media screen and (max-width:480px) {
    .task-list-header {
        font-size: small;
    }
    .task-item {
        padding: 10px;
        border-radius: 12px;
        font-size: small;      
      }
    .update-button,
    .edit-button,
    .delete-button {
        padding: 4px 10px;
        border-radius: 3px;
        font-size: smaller;
    }
    .edit-task-input {
        padding: 5px;
        border-radius: 3px;
        font-size: smaller;   
      }
}
  