.task-form-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .add-task-header {
    margin-bottom: 50px;
    color: #007bff;
    font-size: xx-large;
    font-family: cursive;

  }
  
  .task-input-container {
    display: flex;
    align-items: center;
  }
  
  .task-input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    margin-right: 14px;
    width: 100%;
    font-size: large;
    font-family: cursive;
  }
  
  .add-task-button,.check-your-tasks {
    background-color: #0d4143;
    color: white;
    border: none;
    padding: 10px 24px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
    border-radius: 7px;
    font-size: medium;
    font-family: cursive;
  }
  .check-your-tasks{
    margin-top: 10px;
  }
  