.container {
  background-color: lightgray;
  min-width: 100%;
  min-height: 100vh;
}


body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  font-size: 16px; 
  font-weight: 400;
  line-height: 1.5; 
  color: white;
  background-color: #f4f4f4; 
  margin: 0; 
  padding: 0;
  background-color: rgb(42, 40, 40);
}
